@model AdminPanel.Areas.Identity.Data.SluzbenoMisljenje
@using AdminPanel.Areas.Identity.Data;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Propis> propisi = ViewBag.Propis;
    List<Clan> clanovi = ViewBag.Clan;
    List<Stav> stavovi = ViewBag.Stav;
    List<Tacka> tacke = ViewBag.Tacka;
    List<PropisSluzbenoMisljenje> veze = ViewBag.Veze;
    List<ProsvetniPropisSluzbenoMisljenje> veze1 = ViewBag.Veze1;
    RubrikaSM rubrika = ViewBag.Rubrika;
    PodrubrikaSM podrubrika = ViewBag.Podrubrika;
    DonosilacSM donosilac = ViewBag.Donosilac;
    List<ProsvetniPropis> propisiPP = ViewBag.ProsvetniPropisi;
    List<ClanPP> clanoviPP = ViewBag.ClanoviPP;
    List<StavPP> stavoviPP = ViewBag.StavoviPP;
    List<TackaPP> tackePP = ViewBag.TackePP;
}

<h1 style="margin-left:5%;">Сви подаци из службеног мишљења</h1>

<div style="margin-left:5%; margin-bottom:50px;">
    @Html.ActionLink("Измени", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Врати се на листу службених мишљења</a>
</div>

<div>
    <hr />
    <dl class="row" style="margin-left:5%; margin-bottom:50px;">
        <dt class="col-sm-2">
            @Html.DisplayName("Наслов")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Поднаслов")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Podnaslov)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Број")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Broj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Датум доношења")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumDonosenja)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Напомена")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Napomena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Текст")
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(@Model.Tekst)
        </dd>
        @foreach (PropisSluzbenoMisljenje psm in veze)
        {
            @foreach (Propis p in propisi)
            {
                if (p.Id == psm.IdPropis)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayName("Пропис")
                    </dt>
                    <dd class="col-sm-10">
                        @p.Naslov
                    </dd>
                    @foreach (Clan c in clanovi)
                    {
                        if (c.Id == psm.IdClan && c.IdPropis == p.Id)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayName("Члан")
                            </dt>
                            <dd class="col-sm-10">
                                @c.Naziv
                            </dd>
                            @foreach (Stav s in stavovi)
                            {
                                if (s.Id == psm.IdStav && s.IdClan == c.Id)
                                {
                                    <dt class="col-sm-2">
                                        @Html.DisplayName("Став")
                                    </dt>
                                    <dd class="col-sm-10">
                                        @s.Naziv <br /> Текст става:<br /> @Html.Raw(@s.Tekst)
                                    </dd>
                                    foreach (Tacka t in tacke)
                                    {
                                        if (t.Id == psm.IdTacka && t.IdStav == s.Id)
                                        {
                                            <dt class="col-sm-2">
                                                @Html.DisplayName("Тачка")
                                            </dt>
                                            <dd class="col-sm-10">
                                                @t.Naziv <br />Текст тачке<br /> @Html.Raw(@t.Tekst)
                                            </dd>
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayName("Рубрика")
        </dt>
        <dd class="col-sm-10">
            @if (rubrika != null)
            {
                @rubrika.Naziv
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Подрубрика")
        </dt>
        <dd class="col-sm-10">
            @if (podrubrika != null)
            {
                @podrubrika.Naziv
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Доносилац")
        </dt>
        <dd class="col-sm-10">
            @if (donosilac != null)
            {
                @donosilac.Naziv
            }
        </dd>
        @foreach (ProsvetniPropisSluzbenoMisljenje psm1 in veze1)
        {
            @foreach (ProsvetniPropis p in propisiPP)
            {
                if (p.Id == psm1.IdProsvetniPropis)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayName("Просветни Пропис")
                    </dt>
                    <dd class="col-sm-10">
                        @p.Naslov
                    </dd>
                    @foreach (ClanPP c in clanoviPP)
                    {
                        if (c.Id == psm1.IdClanPP && c.IdPropis == p.Id)
                        {
                            <dt class="col-sm-2">
                                @Html.DisplayName("Члан")
                            </dt>
                            <dd class="col-sm-10">
                                @c.Naziv
                            </dd>
                            @foreach (StavPP s in stavoviPP)
                            {
                                if (s.Id == psm1.IdStavPP && s.IdClan == c.Id)
                                {
                                    <dt class="col-sm-2">
                                        @Html.DisplayName("Став")
                                    </dt>
                                    <dd class="col-sm-10">
                                        @s.Naziv <br /> Текст става:<br /> @Html.Raw(@s.Tekst)
                                    </dd>
                                    foreach (TackaPP t in tackePP)
                                    {
                                        if (t.Id == psm1.IdTackaPP && t.IdStav == s.Id)
                                        {
                                            <dt class="col-sm-2">
                                                @Html.DisplayName("Тачка")
                                            </dt>
                                            <dd class="col-sm-10">
                                                @t.Naziv <br />Текст тачке<br /> @Html.Raw(@t.Tekst)
                                            </dd>
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    </dl>
</div>