@model SluzbenoMisljenjeViewModel
@using AdminPanel.Areas.Identity.Data;
@{
    ViewData["Title"] = "Index";
    int idRubrikaSM = ViewBag.IdRubrikaSM;
    int idPodrubrikaSM = ViewBag.IdPodrubrikaSM;
    int idDonosilacSM = ViewBag.IdDonosilacSP;
}

<style>
    @@media (min-width: 1600px) {
        .container {
            max-width: 1600px;
        }
    }

    #sidebar-wrapper {
        font-size: 1.3rem !important;
    }
</style>
<h1 style=" margin-left:38%;">Списак Службених мишљења</h1>
<div style="margin-left:10%">
    <form asp-action="Search">
        <div class="form-group">
            <label class="control-label">Наслов</label>
            <input name="Naslov" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Тражи" class="btn btn-primary" />
        </div>
    </form>
</div>
<p>
    <a href="~/SluzbenoMisljenje/CreateRubrika/@idRubrikaSM" style="font-size:25px;" class="btn btn-block btn-danger">Креирај рубрику за службено мишљење</a>
    <a href="~/SluzbenoMisljenje/CreatePodrubrika/@idPodrubrikaSM" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подрубрику за службено мишљење</a>
    <a href="~/SluzbenoMisljenje/CreateDonosilac/@idDonosilacSM" style="font-size:25px;" class="btn btn-block btn-danger">Креирај доносиоца за службено мишљење</a>
    <a href="~/SluzbenoMisljenje/Create/@idPodrubrikaSM" style="font-size:25px;" class="btn btn-block btn-danger">Креирај службено мишљење</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Наслов</label>
            </th>
            <th>
                <label class="control-label">Поднаслов</label>
            </th>
            <th>
                <label class="control-label">Број</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SluzbenoMisljenjeList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naslov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Podnaslov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Broj)
                </td>
            <td>
                @Html.ActionLink("Сви подаци", "Details", new { id = item.Id }) |
                @Html.ActionLink("Веза са прописом", "KreirajVezuPropisSluzbenoMisljenje", new { id = item.Id }) |
                @Html.ActionLink("Веза са просветним прописом", "KreirajVezuProsvetniPropisSluzbenoMisljenje", new { id = item.Id }) |
                <br />
                <a href="~/SluzbenoMisljenje/Hijararhija/@item.IdPodrubrikaSM">Хијерархија </a> |
                <br />
                <a href="~/SluzbenoMisljenje/Delete/@item.Id" onclick="return confirm('Да ли сте сигурни да желите да избришете Службено Мишљење - @item.Naslov ?')">Избриши</a>

            </td>
            </tr>
        }
    </tbody>
</table>