@model IEnumerable<AdminPanel.Areas.Identity.Data.ProsvetniPropis>
@using AdminPanel.Areas.Identity.Data;

@{
    ViewData["Title"] = "Index";
    int idPodrubrike = ViewBag.IdPodrubrike;
    List<PodnaslovPP> podnasloviPP = ViewBag.Podnaslovi;
    List<ClanPP> clanoviPP = ViewBag.Clanovi;
}

<style>
    @@media (min-width: 1600px) {
        .container {
            max-width: 1600px;
        }
    }

    #sidebar-wrapper {
        font-size: 1.3rem !important;
    }
</style>

<h1 style=" margin-left:38%;">Списак Просветних Прописа</h1>
<div style="margin-left:10%">
    <form asp-action="Search">
        <div class="form-group">
            <label class="control-label">Наслов</label>
            <input name="Naslov" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Тражи" class="btn btn-primary" />
        </div>
    </form>
</div>
<p>
    <a href="~/ProsvetniPropisi/Create/@idPodrubrike" style="font-size:25px;" class="btn btn-block btn-danger">Креирај просветни пропис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Наслов")
            </th>
            <th>
                @Html.DisplayName("Гласило и датум објављивања")
            </th>
            <th>
                @Html.DisplayName("Врста прописа")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Naslov)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.GlasiloIDatumObjavljivanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VrstaPropisa)
                </td>
                @foreach (ClanPP c in clanoviPP)
                {
                    if (c.IdPropis == item.Id)
                    {
                        <td>
                            <div class="alert alert-success" role="alert">
                                Убачен раздељен
                            </div>
                        </td>
                        break;
                    }
                }
                @if (item.TekstPropisa != null)
                {
                    <td>
                        <div class="alert alert-success" role="alert">
                            Убачен нераздељен
                        </div>
                    </td>
                }

            <td>
                @Html.ActionLink("Измени", "Edit", new { id = item.Id }) |<br />
                @Html.ActionLink("Сви подаци", "Details", new { id = item.Id }) |<br />
                @Html.ActionLink("Додај преамбулу", "DodajPreambulu", new { id = item.Id }) |<br />
                @Html.ActionLink("Додај ПДФ фајл", "FileUpload", new { id = item.Id }) |<br />

                <a href="~/ObradaTekstaPP/Index/@item.Id">Обрада текста</a> |<br />
                <a href="~/ObradaTekstaPP/PrikazCelogTeksta/@item.Id">Испис текста</a> |
                <br />
                <a href="~/ProsvetniPropisi/Hijerarhija/@item.IdPodrubrike">Хијерархија </a> |
                <br />
                <a href="~/ProsvetniPropisi/Delete/@item.Id" onclick="return confirm('Да ли сте сигурни да желите да избришете просветни пропис @item.Naslov')">Бриши просветни пропис</a> |<br />
            </td>
        </tr>
    }
   </tbody>
</table>

