@using AdminPanel.Areas.Identity.Data;
@{
    ViewData["Title"] = "Index";
    int idRubrikaSP = ViewBag.IdRubrikaSP;
    int idPodrubrikaSP = ViewBag.IdPodrubrikaSP;
    int idDonosilacSP = ViewBag.IdDonosilacSP;
    Dictionary<int, string> sudskaPraksa = (Dictionary<int, string>) ViewBag.SudskaPraksa;
}
<style>
    @@media (min-width: 1600px) {
        .container {
            max-width: 1600px;
        }
    }

    #sidebar-wrapper {
        font-size: 1.3rem !important;
    }
</style>
<h1 style=" margin-left:38%;">Списак Судских Пракси</h1>
<div style="margin-left:10%">
    <form asp-action="Search">
        <div class="form-group">
            <label class="control-label">Наслов</label>
            <input name="Naslov" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Тражи" class="btn btn-primary" />
        </div>
    </form>
</div>
<p>
    <a href="~/SudskaPraksa/CreateRubrika/@idRubrikaSP" style="font-size:25px;" class="btn btn-block btn-danger">Креирај рубрику за судску праксу</a>
    <a href="~/SudskaPraksa/CreatePodrubrika/@idPodrubrikaSP" style="font-size:25px;" class="btn btn-block btn-danger">Креирај подрубрику за судску праксу</a>
    <a href="~/SudskaPraksa/CreateDonosilac/@idDonosilacSP" style="font-size:25px;" class="btn btn-block btn-danger">Креирај доносиоца за судску праксу</a>
    <a href="~/SudskaPraksa/Create/@idPodrubrikaSP" style="font-size:25px;" class="btn btn-block btn-danger">Креирај судску праксу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label class="control-label">Наслов</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in sudskaPraksa)
        {
            <tr>
                <td>
                    @item.Value;
                </td>
                <td>
                    @Html.ActionLink("Сви подаци", "Details", new { id = item.Key }) |
                    @Html.ActionLink("Веза са прописом", "KreirajVezuSudskaPraksaPropis", new { id = item.Key }) | 
                    @Html.ActionLink("Веза са просветним прописом", "KreirajVezuSudskaPraksaProsvetniPropis", new { id = item.Key }) |
                    <a href ="~/SudskaPraksa/Delete/@item.Key" onclick="return confirm('Да ли сте сигурни да желите да избришете Судску Праксу - @item.Value ?')">Избриши</a>
                </td>
            </tr>
        }
    </tbody>
</table>